    /* Basic Reset */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
    }

    /* Sticky Navigation Bar */
    nav {
      background-color: #21007D;
      color: #fff;
      margin: 0 0 1em 0;
      padding: 1em;
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    nav ul {
      display: flex;
      list-style: none;
      justify-content: space-around;
    }

    nav ul li a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s;
    }

    nav ul li a:hover {
      color: #f0db4f;
    }

    .container {
      padding: 2em;
    }

    section {
      margin-bottom: 3em;
    }

    .lesson {
      margin-left: 25%;
      width: 50%;
    }

    .lesson h1 {
      text-align: center;
    }

    /* Text Formatting */

    h1 {
      color: #333333;
      margin: 20px 0 0 0;
      border: 2px solid #333333;
      border-radius: 25px;
      padding: 5px;
    }

    h2 {
      color: #333;
      margin: 20px 0 0 0;
      padding: 5px;
    }

    p {
      color: black;
      margin: 20px 0 0 0;
      padding: 5px;
    }

    /* Table formatting */

    table {
      width: auto;
      border-collapse: collapse;
      margin: 0 5%;
    }

    th, td {
      padding: 12px;
      border: 1px solid #ccc;
      text-align: left;
      vertical-align: top;
    }

    th {
      background-color: #444;
      color: #fff;
    }

    tr:nth-child(even) {
      background-color: #f0f0f0;
    }